.footer-wrapper {
  background: #535353;
  color: #fff;
  padding: 32px 0 28px;
  box-sizing: border-box;
  position: relative;
}

.footer-wrapper .footer-top {
  display: flex;
  gap: 77px;
}

.footer-wrapper .nav-section {
  display: flex;
  gap: 50px;
}

.footer-wrapper .nav-section li {
  color: #fff;
  font-size: 16px;
}

.footer-wrapper .font-content {
  display: flex;
  margin-top: 24px;
}

.footer-wrapper .footer-warning {
  font-size: 16px;
  width: 578px;
}

.footer-wrapper .footer-warning p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 18px;
}

.footer-wrapper .footer-warning strong {
  display: block;
  font-weight: bold;
}

.footer-wrapper .contact-group {
  margin-left: 363px;
}

.footer-wrapper .phone {
  background-color: #0071ce;
  border-radius: 3px;
  width: 134px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.footer-wrapper .phone img {
  width: 16px;
  vertical-align: text-bottom;
}

.footer-wrapper .socials {
  display: flex;
  gap: 12px;
  margin: 12px 0 28px;
}

.footer-wrapper .socials a {
  display: inline-block;
  height: 32px;
}

.footer-wrapper .socials img {
  width: 32px;
  height: 32px;
}

.footer-wrapper p.border1 {
  border-top: 1px solid #858585 !important;
  position: absolute;
  bottom: 87px;
  left: 0;
  width: 100%;
}

.footer-wrapper .footer-bottom {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  padding: 28px 107px 0 80px;
}

.footer-wrapper .footer-bottom a {
  color: #fff;
  text-decoration: underline;
}

.footer-wrapper .footer-bottom a:last-child {
  margin: 0 12px 0 3px;
}

.footer-wrapper .logo-section .logo {
  width: 140px;
  height: 46px;
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .footer-wrapper {
    padding-top: 0.36rem;
  }

  .footer-wrapper .logo {
    width: 2.4rem;
    height: 0.79rem;
  }

  .footer-wrapper .footer-top {
    padding: 0 0.24rem;
    flex-direction: column;
    gap: 0;
  }

  .footer-wrapper .nav-section {
    flex-wrap: wrap;
    gap: 0;
    margin-top: 0.3rem;
  }

  .footer-wrapper .nav-section a {
    display: inline-block;
    font-size: 0.24rem;
    margin: 0 0.53rem 0.28rem 0;
  }

  .footer-wrapper .font-content {
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0 0.24rem;
  }

  .footer-wrapper .footer-warning {
    margin: 0.32rem 0;
    width: auto;
  }

  .footer-wrapper .contact-group {
    margin-left: auto;
    margin-top: -0.7rem;
  }

  .footer-wrapper .phone {
    font-size: 0.24rem;
    font-weight: bold;
    width: 2.1rem;
    height: auto;
  }

  .footer-wrapper .socials {
    margin: 0.16rem 0 0 !important;
    gap: 0.13rem;
  }

  .footer-wrapper .socials a {
    height: 0.6rem;
    display: flex;
  }

  .footer-wrapper .socials img {
    height: 0.6rem;
    width: 0.6rem;
  }

  .footer-wrapper .footer-bottom {
    border-top: 1px solid #858585;
    text-align: center;
    padding: 0.32rem 0.24rem;
  }

  .footer-wrapper p.border1 {
    display: none !important;
  }
}
