.header {
  background: #0566B3; 
}

.header .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0566B3;
  line-height: 60px;
  height: 60px;
}

.header .left {
  display: flex;
}

.header .nav-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .nav-menu li {
  color: #ACDAFF;
  font-size: 16px;
  cursor: pointer;
}

.header .nav-menu li:hover,.header .nav-menu li.active{
  color: #fff
}
.header .left img {
  width: 125px;
  height: 38px;
}

.header .right a {
  color: #ACDAFF;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.header .right .login {
  padding-right: 12px;
  border-right: 1px solid #C8C8C8;
  margin-right: 12px;
}

@media only screen and (max-width: 767px) {
  .header .mobile {
    display: flex;
    background: #fff !important;
    height: 0.8rem;
    border-bottom: 1px solid #e1e1e1;
    align-items: center;
    padding: 0 0.1rem;
  }

  .header .mobile img {
    width: 0.4rem;
  }

  .header .mobile span {
    font-size: 0.32rem;
    color: #333;
  }
}
