p{
  margin: 0;
  padding: 0;
}
.el-main{
  background-color: #fff !important;
}
.el-main a:hover {
  text-decoration: none;
}
.containers{
  position: relative;
}
.anchor-point{
  position: absolute;
  z-index: 10;
  width: 40px;
  top: 140px;
  left: -80px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(153, 153, 102, 0.4);
}
.anchor-point li{
  border-bottom: 1px solid #C8C8C8;
  font-size: 10px;
  margin: 0 10px;
  font-size: 10px;
}
.anchor-point li a{
  color: #666;
  padding: 6px 0px;
  display: inline-block;
}
.anchor-point li a.active{
  color: #0566B3;
}
.anchor-point li:first-child{
  font-weight: bold;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  background-color: #0566B3;
  margin: 0;
  padding: 6px 10px;
}
.anchor-point li:first-child,.anchor-point li:last-child{
  border: none;
}
.banner{
  background: url('../image/home/banner.svg') no-repeat;
  background-size: cover;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-container {
  width: 708px;
  background: rgb(163 163 163 / 65%);
  height: 164px;
  border-radius: 4px;
  padding: 15px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.tab-menu {
  display: flex;
  gap: 16px;
  list-style: none;
}

.tab-item {
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

.tab-item.active {
  background-color: #0566B3;
}
.tab-search{
  margin-top: 10px;
  margin-bottom: 17px;
  background-color: #fff;
  display: flex;
  border-radius: 3px;
  align-items: center;
  height: 55px;
}
.tab-search select {
  border: none;
  background: transparent;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
  outline: none;
}

.tab-search input {
  height: 24px;
  flex: 1;
  margin-left: 12px;
  border: none;
  border-left: 1px solid #C8C8C8;
  outline: none;
  padding-left: 16px;
  border-right: 0;
  color: #333;
}

.tab-search .search-button {
  border: none;
  width: 107px;
  height:55px;
  background-color: #0566B3;
  color: #fff;
  font-size: 16px;
  border: 1px solid #0566B3;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab-search .search-button svg {
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 4px;
}

.new-info{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.new-info .tag{
  background-color: #EA5513;
  border-radius: 8px;
  font-size: 10px;
  width: 35px;
  line-height: 16px;
  text-align: center;
}
.new-info .text{
  margin-left: 8px;
  margin-right: 12px;
  font-weight: bold;
}


.custom-prev,
.custom-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 11;
}

.swiper-button-prev.custom-prev {
  left: -32px !important;
}

.swiper-button-next.custom-next {
  right: -32px !important;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.title a{
  color: #333;
  font-size: 28px;
  font-weight: bold;
}
.load-button{
 display: flex;
 justify-content: center;
 width: 100%;
 margin-top: 26px;
 cursor: pointer;
}
.load-button p{
  width: 146px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  background-color: #0566B3;
  border-radius: 2px;
  font-size: 14px;
}
.content-box{
  margin:50px 0;
}
.content-box:first-child{
  margin-top: 24px;
}

.card-wrapper {
  overflow: hidden;
  margin-bottom: 34px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card-wrapper .image{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card-wrapper .logo{
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.card-wrapper .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-wrapper .tag{
  position: absolute;
  z-index: 11;
  top: 8px;
  left: 8px;
  background-color: #0566B3;
  height: 20px;
  padding: 0 8px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 10px;
  border-radius: 10px;
}
.card-wrapper img {
  width: 100%;
  height: 202px;
  object-fit: cover;
  transition:transform 0.3s ease
}
.card-wrapper img:hover{
  transform: scale(1.15);
}
.card-wrapper .content {
  padding: 12px;
  color: #333;
  font-size: 14px;
  height: 58px;
  line-height: 17px;
}
.exposure-swiper .card-wrapper,.elite-list .card-wrapper{
  margin-bottom:0px;
}

.exposure-swiper{
  position: relative;
}

.swiper-containers {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  cursor: pointer;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 40px !important;
  font-weight: bold !important;
}
.custom-prev:after,.custom-next:after{
  font-size: 24px !important;
}
.house-list .card-wrapper,.elite-list .card-wrapper{
  box-shadow: unset;
}
.house-list .image{
  height: 180px;
}
.house-list .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 119, 119, 0.55) 62%, rgba(6, 6, 6, 1) 100%);
  z-index: 1;
}
.house-list .tag{
  background: #EA5513;
  border-radius: 2px;
  color: #fff;
  width: unset;
  padding: 0 6px;
}
.house-list .content{
  padding: 0;
  color:#666;
  font-size: 14px;
  height: unset;
}
.house-list .col-lg-3:nth-last-child(-n+4) .card-wrapper {
  margin-bottom: 0;
}
.house-list .content p:first-child,.elite-list .content p:first-child{
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 8px;
  align-items: end;
}
.house-list .content p .price{
  color: #333;
}
.house-list .content p .price i,.elite-list .content .count i{
  font-size: 18px;
  color: #EA5513;
  font-weight: bold;
  margin: 0 2px;
  vertical-align: bottom;
}
.house-list .image img{
  height: 180px !important;
}
.house-list .image:hover img {
  transform: scale(1.15);
}
.house-list .image .info{
  position: absolute;
  z-index: 111;
  left: 6px;
  bottom: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#cityList .content{
  font-size: 16px;
  font-weight: bold;
  height: unset;
  text-align: center;
}
#cityList .image img{
  height: 182px !important;
}
#cityList .image .logo img{
  height: 90px !important;
}
#eliteList .image img{
  height: 242px !important;
  object-fit: cover;
}
#eliteList .content{
  padding: 0;
  color: #333;
}
#eliteList .content .name{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
/* 法拍专业课程 */
.french-auction-class .swiper-container {
  width: 100%;
  height: 512px;
  position: relative;
  overflow: hidden;
}
.french-auction-class .swiper-slide{
  position: relative;
}
.french-auction-class .swiper-slide .box{
  position: absolute;
  top: 100px;
  color: #333;
  z-index:11
}
.french-auction-class .swiper-slide .box p:first-child{
  font-size: 20px;
  font-weight: bold;
}
.french-auction-class .swiper-slide .box p:nth-child(2){
  font-size: 48px;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 16px;
}
.french-auction-class .swiper-slide .box p:nth-child(2) span{
  display: inline-block;
  width: 77px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #FC4F1F;
  color: #fff;
  font-size: 12px;
  vertical-align: super;
}
.french-auction-class .swiper-slide .box p:nth-child(3){
  font-size: 24px;
  line-height: 36px;
}
.french-auction-class .swiper-slide .box p:nth-child(4){
  background-color: #0566B3;
  width: 179px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 13px;
  cursor: pointer;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;
}
.swiper-button-next, .swiper-button-prev{
  color: #333 !important;
}
.swiper-button-next.swiper-button-disabled,
 .swiper-button-prev.swiper-button-disabled{
  color: #ACACAC !important;
  opacity: unset !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #EA5513 !important;
}
.swiper-pagination-bullet{
  background-color: #fff !important;
  opacity: unset !important;
}
.swiper-pagination-bullet-active{
  background-color: #0566B3 !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right:  24px !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 24px !important;
}