p{
  margin: 0;
  padding: 0;
}
.el-main{
  background-color: #fff !important;
}
.el-main a:hover {
  text-decoration: none;
}
.containers{
  position: relative;
}
.anchor-point{
  position: absolute;
  z-index: 10;
  width: 40px;
  top: 140px;
  left: -80px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(153, 153, 102, 0.4);
}
.anchor-point li{
  border-bottom: 1px solid #C8C8C8;
  font-size: 10px;
  margin: 0 10px;
  font-size: 10px;
}
.anchor-point li a{
  color: #666;
  padding: 6px 0px;
  display: inline-block;
}
.anchor-point li a.active{
  color: #0566B3;
}
.anchor-point li:first-child{
  font-weight: bold;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #fff;
  background-color: #0566B3;
  margin: 0;
  padding: 6px 10px;
}
.anchor-point li:first-child,.anchor-point li:last-child{
  border: none;
}
.banner{
  background: url('../image/home/banner.svg') no-repeat;
  background-size: cover;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab-container {
  width: 708px;
  background: rgb(163 163 163 / 65%);
  height: 164px;
  border-radius: 4px;
  padding: 15px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.tab-menu {
  display: flex;
  gap: 16px;
  list-style: none;
}

.tab-item {
  padding: 2px 10px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
}

.tab-item.active {
  background-color: #0566B3;
}
.tab-search{
  margin-top: 10px;
  margin-bottom: 17px;
  background-color: #fff;
  display: flex;
  border-radius: 3px;
  align-items: center;
  height: 55px;
}
.tab-search select {
  border: none;
  background: transparent;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
  outline: none;
}

.tab-search input {
  height: 24px;
  flex: 1;
  margin-left: 12px;
  border: none;
  border-left: 1px solid #C8C8C8;
  outline: none;
  padding-left: 16px;
  border-right: 0;
  color: #333;
}

.tab-search .search-button {
  border: none;
  width: 107px;
  height:55px;
  background-color: #0566B3;
  color: #fff;
  font-size: 16px;
  border: 1px solid #0566B3;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab-search .search-button svg {
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 4px;
}

.new-info{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.new-info .tag{
  background-color: #EA5513;
  border-radius: 8px;
  font-size: 10px;
  width: 35px;
  line-height: 16px;
  text-align: center;
}
.new-info .text{
  margin-left: 8px;
  margin-right: 12px;
  font-weight: bold;
}


.custom-prev,
.custom-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 11;
}

.swiper-button-prev.custom-prev {
  left: -32px !important;
}

.swiper-button-next.custom-next {
  right: -32px !important;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.title a{
  color: #333 !important;
  font-size: 28px;
  font-weight: bold;
}
.load-button{
 display: flex;
 justify-content: center;
 width: 100%;
 margin-top: 26px;
 cursor: pointer;
}
.load-button p{
  width: 146px;
  line-height: 29px;
  color: #fff;
  text-align: center;
  background-color: #0566B3;
  border-radius: 2px;
  font-size: 14px;
}
.content-box{
  margin:50px 0;
}
.content-box:first-child{
  margin-top: 24px;
}

.card-wrapper {
  overflow: hidden;
  margin-bottom: 34px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card-wrapper .image{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card-wrapper .logo{
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.card-wrapper .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.card-wrapper .tag{
  position: absolute;
  z-index: 11;
  top: 8px;
  left: 8px;
  background-color: #0566B3;
  height: 20px;
  padding: 0 8px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 10px;
  border-radius: 10px;
}
.card-wrapper img {
  width: 100%;
  height: 202px;
  object-fit: cover;
  transition:transform 0.3s ease
}
.card-wrapper img:hover{
  transform: scale(1.15);
}
.card-wrapper .content {
  padding: 12px;
  color: #333;
  font-size: 14px;
  height: 58px;
  line-height: 17px;
}
.exposure-swiper .card-wrapper,.elite-list .card-wrapper{
  margin-bottom:0px;
}

.exposure-swiper{
  position: relative;
}

.swiper-containers {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  cursor: pointer;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 40px !important;
  font-weight: bold !important;
}
.custom-prev:after,.custom-next:after{
  font-size: 24px !important;
}
.house-list .card-wrapper,.elite-list .card-wrapper{
  box-shadow: unset;
}
.house-list .image{
  height: 180px;
}
.house-list .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(119, 119, 119, 0.55) 62%, rgba(6, 6, 6, 1) 100%);
  z-index: 1;
}
.house-list .tag{
  background: #EA5513;
  border-radius: 2px;
  color: #fff;
  width: unset;
  padding: 0 6px;
}
.house-list .content{
  padding: 0;
  color:#666;
  font-size: 14px;
  height: unset;
}
.house-list .col-lg-3:nth-last-child(-n+4) .card-wrapper {
  margin-bottom: 0;
}
.house-list .content p.info-flex,.elite-list .content p.info-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 8px;
  align-items: end;
}
.house-list .content p .price{
  color: #333;
}
.house-list .content p .price i,.elite-list .content .count i{
  font-size: 18px;
  color: #EA5513;
  font-weight: bold;
  margin: 0 2px;
  vertical-align: bottom;
}
.house-list .image img{
  height: 180px !important;
}
.house-list .image:hover img {
  transform: scale(1.15);
}
.house-list .image .info{
  position: absolute;
  z-index: 111;
  left: 6px;
  bottom: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 12px);
}
#cityList .content{
  font-size: 16px;
  font-weight: bold;
  height: unset;
  text-align: center;
}
#cityList .image img{
  height: 182px !important;
}
#cityList .image .logo img{
  height: 90px !important;
}
#eliteList .image img{
  height: 242px !important;
  object-fit: cover;
}
#eliteList .content{
  padding: 0;
  color: #333;
}
#eliteList .content .name{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
/* 法拍专业课程 */
.french-auction-class .swiper-container {
  width: 100%;
  height: 512px;
  position: relative;
  overflow: hidden;
}
.french-auction-class .swiper-slide{
  position: relative;
}
.french-auction-class .swiper-slide .box{
  position: absolute;
  top: 100px;
  color: #333;
  z-index:11
}
.french-auction-class .swiper-slide .box p:first-child{
  font-size: 20px;
  font-weight: bold;
}
.french-auction-class .swiper-slide .box p:nth-child(2){
  font-size: 48px;
  font-weight: bold;
  margin-top: 11px;
  margin-bottom: 16px;
}
.french-auction-class .swiper-slide .box p:nth-child(2) span{
  display: inline-block;
  width: 77px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #FC4F1F;
  color: #fff;
  font-size: 12px;
  vertical-align: super;
}
.french-auction-class .swiper-slide .box p:nth-child(3){
  font-size: 24px;
  line-height: 36px;
}
.french-auction-class .hidden-xs-only{
  display: block !important;
}
.french-auction-class .swiper-slide .box p:nth-child(4){
  background-color: #0566B3;
  width: 179px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 13px;
  cursor: pointer;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 20px;
  font-weight: bold;
  border-radius: 40px;
}
.swiper-button-next, .swiper-button-prev{
  color: #333 !important;
}
.swiper-button-next.swiper-button-disabled,
 .swiper-button-prev.swiper-button-disabled{
  color: #ACACAC !important;
  opacity: unset !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #EA5513 !important;
}
.swiper-pagination-bullet{
  background-color: #fff !important;
  opacity: unset !important;
}
.swiper-pagination-bullet-active{
  background-color: #0566B3 !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right:  24px !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 24px !important;
}
@media (max-width: 767px) {
  .containers.mobile{
    overflow-x: hidden;
    background-color: #f6f6f6;
  }
  .header-bar h1.title {
    margin-bottom: 0rem;
  }
  .mobile-search{
    background-color: #fff;
    padding: 0.1rem 0.2rem 0.3rem 0.2rem;
  }
  .mobile-search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    gap: 0.16rem;
  }
  .mobile-search-header .logo,.mobile-search-header img{
    width: 1.48rem;
    height: 0.5rem;
  }
  .mobile-search-header .search-input{
    flex: 1;
    font-size: 0;
    background-color: #E9E9E9;
    padding: 0.1rem 0 0.08rem 0;
    border-radius: 4px;
    position: relative;
  }
  .mobile-search-header .search-input a{
    display: inline-block;
    width: 100%;
  }
  .el-icon svg {
    width: 12px;
    height: 12px;
    position: absolute;
    fill: #999;
    top: -0.2rem;
    left: 0.22rem;
    z-index: 111;
  }
  .city-select {
    border: none;
    padding: 0 5px;
    font-size: 14px;
    background-color: #E9E9E9;
    color: #999;
    width: 28%;
  }
  ::placeholder {
    color: #999;
  }
  .search-input input {
    border: none;
    border-left: 1px solid #ccc;
    flex: 1;
    padding: 0;
    margin-left: 5px;
    padding-left: 22px;
    font-size: 0.22rem;
    width: 70%;
    box-sizing: border-box;
    background-color: #E9E9E9;
    color: #333;
  }
  .mobile-search-banner img{
    width: 100%;
    height: auto;
    margin-top: 0.24rem;
    margin-bottom: 0.16rem;
  }
  .mobile-menu{
    display: flex;
    gap: 0.23rem;
    align-items: center;
  }
  .menu-item{
    width: 25%;
    text-align: center;
    height: 1.23rem;
  }
  .menu-item img{
    width: 60%;
    height: auto;
    margin-bottom: 0.15rem;
  }
  .menu-item a{
    color: #333;
    display: inline-block;
    font-size: 0.24rem;
  }
  .content-box{
    margin: 0.36rem 0.2rem 0.16rem 0.2rem;
  }
  .content-box .title,.mobile-class .title{
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.16rem;
  }
  .content-box .title a,.mobile-class .title a {
    font-size: 0.32rem;
  }
  .content-box .title a.show-xs-only,.mobile-class .title a.show-xs-only {
    font-size: 0.24rem;
    color: #999 !important;
    font-weight: normal;
  }
  .house-list .card-wrapper,.elite-list .card-wrapper{
    border-radius: 0.04rem;
    padding: 0.24rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 0.16rem;
    margin-bottom: 0.24rem !important;
    background-color: #fff;
  }
  .house-list .col-lg-3:last-child .card-wrapper{
    margin-bottom: 0 !important;
  }
  .house-list .image{
    height: 1.8rem !important;
    width: 2.7rem;
    overflow: unset;
  }
  .house-list .image img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
  .house-list .image::before{
    background: unset !important;
  }
  .house-list .tag{
    left: 0.08rem;
    top: 0.08rem;
    padding: 0 0.04rem;
    line-height: unset;
    font-size: 0.2rem;
    height: unset;
  }
  .house-list .content p.info, .elite-list .content p.info{
    margin: 0;
    font-size: 0.28rem;
    line-height: 0.36rem;
    color: #333;
    width: calc(100vw - 3.8rem)
  }
  .house-list .content p.info-flex, .elite-list .content p.info-flex{
    margin: 0;
  }
  .area{
    font-size: 0.24rem;
    color: #666;
    margin-top: 0.2rem;
    margin-bottom: 0.16rem;
    display: inline-block;
  }
  .date span {
    display: inline-block;
    background-color: #E9EDF8;
    color: #0566B3;
    font-size: 0.2rem;
    line-height: 0.3rem;
    padding: 0.02rem 0.1rem;
    border-radius: 0.04rem;
    margin-right: 0.2rem;
    margin-bottom: 0.25rem;
  }
  .house-list .content p .price{
    font-size: 0.24rem;
    margin-right: 0.2rem;
  }
  .house-list .content p .price i, .elite-list .content .count i{
    font-size: 0.32rem;
    margin: 0 0.04rem;
  }
  .french-auction-class .hidden-xs-only{
    display: none !important;
  }
  #ranking .row>*{
    padding: 0;
  }
  #newsList .col-6{
    padding: 0;
  }
  #cityList, #newsList{
    margin: 0 0rem;
  }
  #cityList .col-6:nth-child(2n+1) .card-wrapper,#newsList .col-6:nth-child(2n+1) .card-wrapper{
    margin-right: 0.26rem;
  }
  #cityList .image .logo img,#newsList .image .logo img{
    height: 1.14rem !important;
  }
  #cityList .image img{
    height: 2.32rem !important;
  }
  .card-wrapper{
    margin-bottom: 0.25rem;
  }
  #cityList .content{
    font-size: 0.24rem;
    padding: 0.1rem;
  }
  .content-box#elite{
    margin-top: 0;
  }
  #elite .card-wrapper img,#elite .card-wrapper .image{
    height: 2rem;
    width: 2.7rem;
    border-radius: 0.05rem;
  }
  #elite .card-wrapper .content{
    padding: 0;
    flex: auto;
  }
  #elite .card-wrapper .content .name{
    font-size: 0.28rem;
    color: #333;
    font-weight: bold;
  }
  #elite .card-wrapper .tag{
    position: unset;
    padding: 0 0.08rem !important;
    font-size: 0.2rem;
    vertical-align: middle;
    border-radius: 0.04rem;
    line-height: 0.3rem;
    height: 0.3rem;
    margin-left: 0.1rem;
    display: inline-block;
  }
  #elite .card-wrapper .info{
    margin-top: 0.16rem;
    margin-bottom: 0.12rem;
    font-size: 0.24rem;
    color: #666;
  }
  #elite .card-wrapper .count{
    font-size: 0.24rem;
    color: #333;
  }
  #elite .card-wrapper .btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.13rem;
  }
  #elite .card-wrapper .btn .phone,#elite .card-wrapper .btn .line{
    background-color: #0566B3;
    height: 0.48rem;
    line-height: 0.48rem;
    border-radius: 0.04rem;
    font-size: 0.24rem;
    margin-top: 0.2rem;
    width: 50%;
  }
  #elite .card-wrapper .btn .phone a,#elite .card-wrapper .btn .line a{
    font-weight: bold;
  }
  #elite .card-wrapper .btn .phone img{
    height: 0.16rem;
    width: 0.16rem;
    vertical-align: baseline;
  }
  #elite .card-wrapper .btn .line img{
    height: 0.4rem;
    width: 0.3rem;
    vertical-align: middle;
  }
  #elite .card-wrapper .btn .line{
    background-color: #00B900;
  }
  #newsList .card-wrapper img{
    height: 1.8rem;
  }
  #newsList .card-wrapper{
    display: flex;
    flex-direction: column;
    align-items:self-start;
  }
  #newsList .card-wrapper .tag.show-xs-only{
    position: unset !important;
    margin: 0.2rem 0 0.16rem 0.24rem;
    font-size: 0.2rem;
    line-height: 0.3rem;
    height: 0.3rem;
    border-radius: 0.14rem;
    padding: 0 0.15rem;
    display: inline-block !important;
  }
  #newsList .card-wrapper .content{
   padding: 0;
   font-size: 0.24rem;
   margin:0 0.24rem;
   margin-bottom: 0.24rem;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 0.6rem;
  } 
  #newsList .col-6:last-child .card-wrapper{
    margin-bottom: 0;
  }
  .mobile-class{
    margin-top: 0.3rem;
    padding: 0 0.2rem;
  }
  .mobile-class .content{
    display: flex;
    gap: 0.16rem;
    justify-content: space-between;
  }
  .mobile-class .content .card-class{
    width: 100%;
  }
  .mobile-class .content .img{
    position: relative;
    display: flex;
  }
  .mobile-class .content .img p {
    font-size: 0.2rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    z-index: 11;
    background-color: #EA5513;
    color: #fff;
    padding: 0 0.1rem;
    border-radius: 0.2rem;
  }
  .mobile-class .content img{
    height: 1.38rem !important;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 0.06rem;
    border-top-left-radius: 0.06rem;
  }
  .mobile-class .card-content{
    text-align: center;
    color: #333;
    padding: 0.2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 0.06rem;
    border-bottom-left-radius: 0.06rem;
    height: 1.75rem;
  }
  .mobile-class .card-content h3{
    font-size: 0.28rem;
    font-weight: bold;
  }
  .mobile-class .card-content p{
    font-size: 0.18rem;
    margin-top: 0.1rem;
  }
  .register-button{
    text-align: center;
    font-size: 0.24rem;
    font-weight: bold;
    border: none;
    background-color: #0566B3;
    width: 100%;
    line-height: 0.53rem;
    color: #fff;
    border-radius: 0.04rem;
    margin-top: 0.16rem;
    margin-bottom: 0.6rem;
  }
}