*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.el-header,
.el-main {
  padding: 0 !important;
  height: unset !important;
}

.el-header {
  height: 36px !important;
}

body {
  font-family: Arial, 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

i {
  font-style: normal;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.containers {
  max-width: 1200px;
  margin: 0 auto;
}

.el-containers {
  min-width: 1200px !important;
}

.el-main {
  background: #eee;
}

.show-xs-only{
  display: none !important;
}
.hidden-xs-only {
  display: inline-block;
}
.hidden-xs-swiper-only{
  display: flex;
}

input,select,textarea,button {
  outline: none;
  background: transparent;
}
p,ul,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}
.btn{
  --bs-btn-padding-x:unset !important
}
@media (max-width: 767px) {
  .el-containers {
    min-width: unset !important;
  }

  .el-header {
    height: 0.8rem !important;
    line-height: 0.8rem !important;
  }

  .containers {
    max-width: unset;
    margin: unset;
  }

  .show-xs-only{
    display: block !important;
  }

  .hidden-xs-only,.hidden-xs-swiper-only {
    display: none !important;
  }
  .header-bar h1{
    font-size: 0.32rem;
    color: #333;
    font-weight: 400;
  }
  .header-bar{
    background: #fff;
    display: flex !important;
    justify-content: space-between;
    height: 0.8rem;
    align-items: center;
    padding: 0 0.2rem;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0.2rem;
  }
  .header-bar img{
    width: 0.4rem;
    height: 0.4rem;
  }
}

.badge-tag-recommend {
  background: rgb(5, 102, 179) !important;
  color: #fff;
}
.badge-tag-featured {
  background: rgb(234, 85, 19) !important;
  color: #fff;
}
.badge-tag-no-bid {
  background: rgb(67, 198, 47) !important;
  color: #fff;
}
.badge-tag-last-auction {
  background: rgb(173, 66, 202) !important;
  color: #fff;
}