.list {
  .banner {
    background-color: #fff;
  }

  .breadcrumb {
    padding: 24px 0 16px 0;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #C8C8C8;

    i {
      font-weight: bold;
      color: #666666;
    }
  }

  .houseContent {
    margin-top: 32px;
    padding-bottom: 49px;
    display: flex;
    gap: 36px;
    justify-content: space-between;

    .left {
      width: 780px;

      .title {
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 24px;
      }

      .main-swiper {
        height: 480px;
        margin: 0;

        img {
          width: 780px;
          height: 480px;
          border-radius: 4px;
          object-fit: cover;
        }
      }

      .thumbs-swiper {
        width: 780px;
        margin: 0;
        height: 115px;
        margin-top: 13px;

        img {
          height: 115px;
          width: 150px;
          object-fit: cover;
          cursor: pointer;
          border-radius: 2px;
        }
      }
    }

    .right {
      width: 384px;
      min-width: 384px;

      .icon {
        margin-top: 6px;
        margin-bottom: 60px;
        color: #666;
        font-size: 18px;

        a {
          color: #666;
          height: 28px;
          font-size: 18px;
          display: inline-block;
          margin-right: 24px;
          padding-right: 3px;
        }

        a:hover {
          background: #eee;
          border-radius: 2px;
        }
      }

      .dic {
        padding: 21px 0;
        border-bottom: 1px solid #E1E1E1;

        div {
          display: flex;
          justify-content: space-between;

        }

        p {
          line-height: 34px;

          span:first-child {
            width: 72px;
            font-size: 18px;
            line-height: 34px;
            display: inline-block;
            margin-right: 32px;
          }

          span {
            color: #666;
            font-size: 18px;
          }

          .price {
            color: #ea5513;
            font-weight: bold;
            font-size: 32px;
            margin-right: 8px;
            vertical-align: middle;
          }

          .q {
            color: #333;
            font-size: 18px;
            font-weight: bold;
            margin-right: 5px;
          }

          .adress {
            color: #333;
            cursor: pointer;

            i {
              margin-right: 3px;
            }

            i:hover {
              font-weight: bold;
            }
          }

          .size {
            font-size: 22px;
            color: #333;
            font-weight: bold;
            margin-right: 3px;
          }
        }

        p.mr {
          span:first-child {
            margin-right: 20px;
          }

          span:last-child {
            display: inline-block;
            width: 58px;
            text-align: right;
          }
        }

      }

      .dic:last-child {
        border: unset;
        padding-bottom: 0;

        div {
          justify-content: unset !important;
          align-items: center;
          gap: 22px;
        }

        .desc {
          display: unset;

          p:first-child {
            font-size: 24px;
            font-weight: bold;
            color: #333;
          }

          p:last-child {
            font-size: 18px;
            color: #666;
          }
        }

        .btn {
          margin-top: 20px;
          gap: 8px;

          div {
            display: unset;
            width: 188px;
            height: 40px;
            border-radius: 2px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
          }

          .phone {
            background: rgba(5, 102, 179, 1);

            a {
              margin-left: 11px;
            }
          }

          .line {
            text-align: left;
            background: #00B900;

            i {
              height: 34px;
              margin: 0 20px 0 10px;
            }
          }

          .phone:hover,
          .line:hover {
            opacity: 0.9;
          }

          a {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .box,
  .box1 {
    padding: 40px 0 50px;

    .bg.container {
      background: #fff;
      padding: 40px;
      border-radius: 6px;

      .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        line-height: 34px;
        margin-bottom: 16px;
      }

      .subtitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        line-height: 34px;
        margin-bottom: 16px;
      }

      .info {
        font-size: 14px;
        color: #666;
        line-height: 20px;
      }

      .recordCase {
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        padding: 24px 0;
      }

      .supplementaryStatement {
        padding: 24px 0;
        border-bottom: 1px solid #e1e1e1;
      }

      .housePicture {
        padding-top: 24px;

        .masonry-item {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 24px;
        }

        .masonry-item:nth-child(2n) {
          margin-right: 24px;
        }
      }

      .location {
        display: block;

        .locationBox {
          border-top: 1px solid #e1e1e1;
          padding-top: 24px;
          display: flex;
          gap: 16px;
        }

        .right {
          width: 287px;

          ul {
            column-gap: 42px;
            margin-top: 30px;

            li {
              margin-bottom: 38px;
              text-align: center;
              cursor: pointer;
              display: inline-block;

              .icon:hover {
                background: #E1E1E1;
                border-radius: 2px;
              }

              p.name {
                font-size: 16px;
                color: #333;
                line-height: 28px;
              }
            }

            li:nth-child(3n+1),
            li:nth-child(3n+2) {
              margin-right: 53px;
            }

            li:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .box1 {
    padding: 0;
    margin-bottom: 50px;

    .bg.container {
      padding: 30px 40px 50px !important;

      ul {
        display: flex;
        gap: 42px;

        li {
          width: 345px;

          div:first-child {
            margin-bottom: 12px;
          }

          .list div {
            display: flex;
            justify-content: space-between;

            p {
              font-size: 18px;
              color: #666;
              line-height: 34px;
            }

            p i {
              color: rgba(234, 85, 19, 1);
              font-size: 32px;
              font-weight: bold;
              vertical-align: middle;
              margin: 0 3px;
            }
          }

          .hr {
            margin: 20px 0;
            border-top: 1px solid #E1E1E1;
          }
        }

        .desc {
          line-height: 40px;
          font-size: 16px;
          color: #666;
          background: #f3f3f3;
          padding-left: 13px;
          border-radius: 2px;
        }
      }
    }

    .nearbyObjects {
      border-top: 1px solid #e1e1e1;
      margin-top: 24px;
      padding-top: 24px;
      position: relative;

      .custom-prev,
      .custom-next {
        position: absolute;
        z-index: 11;
        top: 28%;
        color: #666;
      }

      .swiper-button-disabled {
        color: #acacac;
      }

      .custom-prev {
        left: -25px;
      }

      .custom-next {
        right: -25px;
      }
    }

  }

  .main-swiper {
    img {
      transition: transform 0.3s ease;
      /* 设置过渡效果，0.3s 是过渡时间，ease 是过渡曲线 */
    }

    img:hover {
      transform: scale(1.15);
      /* 鼠标悬停时，图片放大到原来的 1.15 倍 */
    }
  }
}

/* 响应式设计 */
@media (max-width: 768px) {}